@charset "UTF-8"; 

@import url(https://fonts.google.com/specimen/Outfit);

* {
    margin: 0%;
    padding: 0%;
}

:root {

    /* Primárias */
    --Softblue: #8bacda;
    --Cyan: #00fff7;

    /* Neutro */ 
    --mainblue: #0d192b;
    --cardblue: #14253d;
    --lineblue: #2f415b;

    /* Fonte */ 
    --Outfit: 'Outfit', sans-serif; 
}

body {
    background-color:var(--mainblue);
}

.container {
    position: relative; 
    background-color: var(--cardblue);
    width: 300px;
    height: 550px;
    display: block;
    margin: auto;
    margin-top: 90px;
    padding: 20px;
    border: 1px solid #0d192b;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px  #0b1423;
}

.img1 {
    display: flex;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

article {
    width: 100%;

}

.frase {
    width: 100%;
    border-bottom: 2px solid #243144;
    height: 190px;
    
}

div > h3 {
    display: flexbox;
    color: white;
    width: max-content;
    position: absolute;
    top: 340px;
    color: white;
    font-family: var(--Outfit);
    font-size: 22px;
}

div > p {
    color: #8bacda;
    font-family: var(--Outfit);
    position: absolute;
    top: 390px;
    font-size: 18px;
    max-width: 310px;
    font-weight: 500;
}

.blitz {
    color: var(--Cyan);
    font-family: var(--Outfit);
    position: absolute;
    top: 460px;
    width: 100%;
}

.eth {
    position: absolute;
    top: 5px;
}

.valor {
    padding-left: 3px;
    position: absolute;
    left: 15px;
    top: 5px;
    width: 100%;
}

.dias {
    width: 100%; 
    position: absolute;
    top: 5px;
    left: 220px;
    font-weight: 500;
    color: #8bacda;
    font-family: var(--Outfit);
    font-size: 14px;
}

.clock {
    position: absolute;
    top: 5px; 
    left: 198px;
}

.icon-kel {
    position: absolute;
    top: 400px;
    left: 5px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.561); 
}

.criador {
    width: 100%;
    position: absolute;
    top: 130px;
}

.kel {
    color:#8bacda;
    position: absolute;
    left: 60px;
    top: 407px;
    font-family: var(--Outfit);
    font-size: 16px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-family: var(--Outfit);
    padding-left: 2px;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width:890px) {
    .container {
        display: block;
        margin-top: 20px;
    }
}

