@charset "UTF-8"; 

* {
    margin: 0%;
    padding: 0%;
}

body {
    max-height: 100vh;
}

.container-l {
    display: block;
    background-color: #10403B;
    width: 500px;
    height: 100vh; 
}

.container-l > .circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    position: absolute;
    left: 165px;
    top: 20px;
}

.container-l .kleber-img {
    position: absolute;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* SOBRE */
.container-l > .sobre > h4 {
    color: white;
    position: absolute;
    top: 210px;
    left: 50px;
    letter-spacing: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-l > .sobre > .line {
    width: 450px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 240px;
    left: 50px;
}

.container-l > .sobre > p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    position: absolute;
    top: 245px;
    font-size: 15px;
    left: 50px;
    width: 400px;
    text-align: justify;
}

/* CONTATO */
.container-l > .contato > h4{
    color: white;
    position: absolute;
    top: 460px;
    left: 50px;
    letter-spacing: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-l > .contato > .line {
    width: 450px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 490px;
    left: 50px;
}

/* LOGOS DO CONTATO */
.container-l > .contato > .casa .logos {
    width: 30px;
    max-width: 30px;
    height: 30px;
    position: absolute;
    top: 510px;
    left: 50px;
}

.container-l > .contato > .casa p {
    color: white;
    font-size: 15px;
    width: max-content;
    position: absolute;
    top: 520px;
    left: 90px;
}

.container-l > .contato > .celular .logos {
    max-width: 30px;
    height: 30px;
    position: absolute;
    top: 570px;
    left: 50px;
}

.container-l > .contato > .celular p {
    color: white;
    font-size: 15px;
    width: max-content;
    position: absolute;
    top: 580px;
    left: 90px;
}

.container-l > .contato > .email .logos {
    max-width: 30px;
    height: 30px;
    position: absolute;
    top: 630px;
    left: 50px;
}

.container-l > .contato > .email p {
    color: white;
    font-size: 15px;
    width: max-content;
    position: absolute;
    top: 639px;
    left: 90px;
}

/* HABILIDADES */
.container-l > .habilidades > h4 {
    color: white;
    position: absolute;
    top: 700px;
    left: 50px;
    letter-spacing: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-l > .habilidades > .line {
    width: 450px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 730px;
    left: 50px;
}

.container-l > .habilidades > .hab-one {
    color: white;
    position: absolute;
    top: 750px;
    left: 50px;
}

.container-l > .habilidades > .hab-two {
    color: white;
    position: absolute;
    top: 780px;
    left: 50px;
}

.container-l > .habilidades > .hab-three {
    color: white;
    position: absolute;
    top: 810px;
    left: 50px;
}

.container-l > .habilidades > .hab-four {
    color: white;
    position: absolute;
    top: 840px;
    left: 50px;
}

.container-l > .habilidades > .hab-five {
    color: white;
    position: absolute;
    top: 870px;
    left: 50px;
}

/* VALORES DAS HABILIDADES */
.teste {
    width: 100px;
    height: 10px;
    background-color: #F2F2F2;
    position: absolute;
    left: 140px;
    top: 3.5px;
}

.hab-one > .teste-2 {
    width: 45px;
    height: 10px;
    background-color: #127369;
    position: absolute;
    left: 140px;
    top: 3.5px;
}

.hab-two > .teste-2 {
    width: 45px;
    height: 10px;
    background-color: #127369;
    position: absolute;
    left: 140px;
    top: 3.5px;
}

.hab-three > .teste-2 {
    width: 65px;
    height: 10px;
    background-color: #127369;
    position: absolute;
    left: 140px;
    top: 3.5px;
}

.hab-four > .teste-2 {
    width: 65px;
    height: 10px;
    background-color: #127369;
    position: absolute;
    left: 140px;
    top: 3.5px;
}

.hab-five > .teste-2 {
    width: 55px;
    height: 10px;
    background-color: #127369;
    position: absolute;
    left: 140px;
    top: 3.5px;
}

/* CONTAINER-R */

.container-r {
    position: absolute;
    background-color: #faf9f981;
    width: 1420px;
    height: 100vh; 
    margin-left: 500px;
    margin-top: -929px;
}

.caixa-titulo {
    background-color: #dadfdf06;
    position: absolute;
    margin-left: 400px;
    margin-top: 20px;
    width: 490px;
    height: 100px;
}

.titulo {
    width: max-content;
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #10403B;
    font-weight: 700;
    letter-spacing: 4px;
    position: absolute;
    left: 90px;
    margin-top: 10px;
}

.cargo {
    color: #8AA6A3;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    left: 90px;
    top: 50px;
    letter-spacing: 1px;
}

.experiencia-titulo {
    color: #10403B;
    width: max-content;
    position: absolute;
    left: 550px;
    top: 160px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 26px
}

.line1 {
    width: 700px;
    height: 2px;
    background-color: #9b9d9d;
    position: absolute;
    top: 200px;
    left: 280px;
}

.detalhes-experiencia {
    position: absolute;
    top: 220px;
    left: 350px;
    height: 110px;
}

.empresa {
    text-align: justify;
    font-weight: 700;
    font-size: 18px;
    color: black;
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.descrição {
    padding-top: 10px;
    text-align: justify;
    font-size: 17px;
    color: black;
    width: 580px;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formação-titulo {
    color: #10403B;
    width: max-content;
    position: absolute;
    left: 550px;
    top: 400px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 26px
}

.line2 {
    width: 700px;
    height: 2px;
    background-color: #9b9d9d;
    position: absolute;
    top: 440px;
    left: 280px;;
}

.detalhes-formação {
    position: absolute;
    top: 460px;
    left: 350px;
    height: 110px;
    width:600px;
}

.ensino {
    text-align: justify;
    font-size: 18px;
    color: black;
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ensino > span {
    font-weight: 700;
}

.ensino2 {
    text-align: justify;
    font-size: 18px;
    color: black;
    position: absolute;
    top: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ensino2 > span {
    font-weight: 700;
}

.linguas-titulo {
    color: #10403B;
    width: max-content;
    position: absolute;
    left: 550px;
    top: 670px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 26px
}

.line3 {
    width: 700px;
    height: 2px;
    background-color: #9b9d9d;
    position: absolute;
    top: 710px;
    left: 280px;
}

.detalhes-linguas {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 725px;
    left: 350px;
    width:600px;
}

.linguas {
    font-size: 20px;
}

.teste-r {
    position: absolute;
    top: 740px;
    left: 500px;
    background-color: #a3a0a0;
    width: 400px;
    height: 3px;
}

.teste-english {
    position: absolute;
    top: 740px;
    left: 500px;
    background-color: #10403B;
    width: 200px;
    height: 3px;
}

@media screen and (max-width: 1280px) {
    .container-l {
        width: 600px;
        height: 100vh; 
    }

    .container-l > .circulo {
        width: 30px;
        height: 40px; 
        background-color: #10403B;
        border: 1px solid #10403B;
    }
    
    .container-l .kleber-img {
        position: absolute;
        object-fit: cover;
        width: 0px;
        height: 0px;
        background-color: #10403B;
    }

    .container-l > .sobre > h4 {
        color: white;
        position: absolute;
        top: 30px;
        left: 50px;
        letter-spacing: 5px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .container-l > .sobre > .line {
        width: 450px;
        height: 1px;
        background-color: white;
        position: absolute;
        top: 60px;
        left: 50px;
    }
    
    .container-l > .sobre > p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        position: absolute;
        top: 70px;
        font-size: 15px;
        left: 50px;
        width: 400px;
        text-align: justify;
    }
    
    /* CONTATO */
    .container-l > .contato > h4{
        color: white;
        position: absolute;
        top: 290px;
        left: 50px;
        letter-spacing: 5px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .container-l > .contato > .line {
        width: 450px;
        height: 1px;
        background-color: white;
        position: absolute;
        top: 320px;
        left: 50px;
    }
    
    /* LOGOS DO CONTATO */
    .container-l > .contato > .casa .logos {
        width: 30px;
        max-width: 30px;
        height: 30px;
        position: absolute;
        top: 340px;
        left: 50px;
    }
    
    .container-l > .contato > .casa p {
        color: white;
        font-size: 15px;
        width: max-content;
        position: absolute;
        top: 350px;
        left: 90px;
    }
    
    .container-l > .contato > .celular .logos {
        max-width: 30px;
        height: 30px;
        position: absolute;
        top: 390px;
        left: 50px;
    }
    
    .container-l > .contato > .celular p {
        color: white;
        font-size: 15px;
        width: max-content;
        position: absolute;
        top: 400px;
        left: 90px;
    }
    
    .container-l > .contato > .email .logos {
        max-width: 30px;
        height: 30px;
        position: absolute;
        top: 440px;
        left: 50px;
    }
    
    .container-l > .contato > .email p {
        color: white;
        font-size: 15px;
        width: max-content;
        position: absolute;
        top: 447px;
        left: 90px;
    }
    
    /* HABILIDADES */
    .container-l > .habilidades > h4 {
        color: white;
        position: absolute;
        top: 500px;
        left: 50px;
        letter-spacing: 5px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .container-l > .habilidades > .line {
        width: 450px;
        height: 1px;
        background-color: white;
        position: absolute;
        top: 530px;
        left: 50px;
    }
    
    .container-l > .habilidades > .hab-one {
        color: white;
        position: absolute;
        top: 550px;
        left: 50px;
    }
    
    .container-l > .habilidades > .hab-two {
        color: white;
        position: absolute;
        top: 580px;
        left: 50px;
    }
    
    .container-l > .habilidades > .hab-three {
        color: white;
        position: absolute;
        top: 610px;
        left: 50px;
    }
    
    .container-l > .habilidades > .hab-four {
        color: white;
        position: absolute;
        top: 640px;
        left: 50px;
    }
    
    .container-l > .habilidades > .hab-five {
        color: white;
        position: absolute;
        top: 670px;
        left: 50px;
    }

        /* Container R */

    .container-r {
        width: 0px;
        height: 97.5%; 
        margin-left: 320px;
        margin-top: -780px;
    }

    .caixa-titulo {
        width: 400px;
        margin-left: 290px;
        margin-top: 40px;
    }

    .titulo, .cargo {
        left: 0%;
    }

    .linguas-titulo, .formação-titulo, .experiencia-titulo {
       margin-left: -250px;
    }

    .detalhes-formação, .detalhes-experiencia {
        margin-left: -50px;
    }

    .detalhes-linguas {
        margin-left: -50px;
        width: max-content;
        height: max-content;
    }

    .teste-english {
        margin-left: -100px;
    }

    .teste-r {
        width: 280px;
    }

    .line1, .line2, .line3 {
        width: 500px;
    }