@charset "UTF-8"; 
@import url(https://fonts.google.com/specimen/Red+Hat+Display);


:root {

    /* Cores primárias */
    --Paleblue:   #e0e8ff;
    --Brightblue: #3829e0;

    /* Cores neutras */
    --Verypaleblue: #f5f7ff;
    --Desaturatedblue: #7280a7;
    --Darkblue: #1f2f56;

    /*Fonte*/ 
    --Redhat: 'RedHatDisplay', sans-serif; 
}


* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: var(--Paleblue);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: repeat; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-250px, -450px);
}

/*-------Config para afastar main--------*/

.afastar {
    background-color: red;
    margin-bottom: 100px;
    width: 500px;
}

/*-----------------Primeira Div-------------*/

.main {
    background-color: white;
    width: 450px;
    height: 680px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.346);
}

.main:hover {
        transition: ease-in-out 1.0s;
        transform: scale(0.97);
    }

.img-main {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 450px;
}

.main > h1 {
    display: block;
    width: max-content;
    margin: auto;
    margin-top: 25px;
    font-family: var(--Redhat);
    color: #1f2f56;
    font-weight: 800;
}

.main > .text {
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 18px;
    color: #7280a7;
    text-align: center;
}

/*-----------------Segunda Div------------------*/ 

.plano {
    margin-top: -15px;
    margin-left: 58px;
    border-radius: 10px;
    height: 55px;
    width: 76%; 
    padding: 1px;
    background-color: #b7c3e92c;
}

.plano > h2 {
    color: #1f2f56;
    display: block;
    margin-left: 90px;
    position: relative;
    top: -50px;
    font-size: 16px;
    font-family: var(--Redhat);
    font-weight: 800;
}

.plano > p {
    color: #7280a7;
    font-family: var(--Redhat);
    display: block;
    margin-left: 90px;
    position: relative;
    top: -45px;
}

.plano > .icon-music {
    margin-left: 20px;
    padding-top: 5px;
} 

.plano > a {
    text-decoration: none;
    display: block;
    margin-left: 270px;
    position: relative;
    top: -75px;
    color: #3829e0;
    font-family: var(--Redhat);
    font-weight: 600;
    font-size: 14px;
}

.plano > a:hover {
    color: #303950;
    text-decoration: underline;
}

/*------------------Terceira Div (button) e cancelar-----------------*/ 

.btn-area {
    height: 50px;
    width: 75%;
    position: relative;
    margin-top: 50px;
    margin-left: 60px;
    border-radius: 10px;
}

.btn-area > .btn-pay:hover {
    background-color: #5f6b8b;
}

.btn-area > .btn-pay {
    background-color:#3829e0 ;
    color: #e0e8ff;
    font-family: var(--Redhat);
    font-weight: 600;
    font-size: 14px;
    display: block;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    margin: auto;
    box-shadow: 1px 1px 15px #3829e05d;
}

.btn-pay:hover {
    cursor: pointer;
}

.cancelar {
    display: block;
    margin-left: 190px;
    color: #7280a7;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--Redhat);
    position: relative;
    top: 30px;
}

.cancelar:hover {
    cursor: pointer;
    color: #3829e0;
}

/*------------Mobile--------------*/

@media screen and (max-width:500px) {

    body {
        background-color: var(--Paleblue);
        background-image: url(images/pattern-background-desktop.svg);
        background-repeat: repeat; 
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-250px, -320px);
    }

    .afastar{
        margin-bottom: 20px;
    }

    .main {
        width: 350px;
        height: 580px;
    }

    .main > .img-main {
        width: 350px;
    }

    .main > .text {
        font-size: 16px
    }

    .plano {
        margin-left: 20px;
    }

    .plano > a {
        margin-left: 240px;
    }

    .btn-area {
        margin-top: 6%;
        margin-left: 45px;
    }

    .cancelar {
        margin-left: 135px;
        position: relative;
        top: 30px;
    }    

}