@charset "UTF-8"; 
@import url(https://fonts.google.com/specimen/Red+Hat+Display);


:root {

    /* Cores primárias */
    --Paleblue:   #e0e8ff;
    --Brightblue: #3829e0;

    /* Cores neutras */
    --Verypaleblue: #f5f7ff;
    --Desaturatedblue: #7280a7;
    --Darkblue: #1f2f56;

    /*Fonte*/ 
    --Redhat: 'RedHatDisplay', sans-serif; 
}


* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: var(--Paleblue);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: repeat; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-250px, -450px);
}

/*-------Config para afastar main--------*/

.afastar {
    background-color: red;
    margin-bottom: 100px;
    width: 500px;
}

/*-----------------Primeira Div-------------*/

.main {
    background-color: white;
    width: 450px;
    height: 680px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.346);
}

.main > .img-main {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 450px;
}

.main > h2 {
    display: block;
    width: max-content;
    margin: auto;
    margin-top: 25px;
    font-family: var(--Redhat);
    color: #1f2f56;
    font-weight: 800;
}

.main > .text {
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 18px;
    color: #7280a7;
    text-align: center;
}

/*-----------------Segunda Div------------------*/ 

.plano {
    margin-top: -15px;
    margin-left: 55px;
    height: 70px;
    width: 100%; 
    padding: 1px;
    background-color: #e0e8ff3e;
}

.plano > h2 {
    color: #1f2f56;
    display: block;
    margin-left: 90px;
    position: relative;
    top: -55px;
    font-size: 16px;
    font-family: var(--Redhat);
    font-weight: 800;
}

.plano > p {
    color: #7280a7;
    font-family: var(--Redhat);
    display: block;
    margin-left: 90px;
    position: relative;
    top: -50px;
}

.plano > .icon-music {
    margin-left: 20px;
} 

.plano > a {
    display: block;
    margin-left: 270px;
    position: relative;
    top: -75px;
    color: #3829e0;
    font-family: var(--Redhat);
    font-weight: 600;
    font-size: 14px;
}

/*------------------Terceira Div (button)-----------------*/ 

.btn-area {
    position: relative;
    margin-top: 50px;
}

.btn-area > .btn-pay {
    background-color: #3829e0;
    color: #e0e8ff;
    font-family: var(--Redhat);
    font-weight: 600;
    font-size: 14px;
    display: block;
    padding: 10px;
    border-radius: 10px;
    width: 75%;
    height: 50px;
    border: none; 
    margin: auto;
    box-shadow: 1px 1px 15px #3829e05d;
}

.btn-pay:hover {
    cursor: pointer;
}

.btn-area > .cancelar {
    display: block;
    margin-left: 180px;
    color: #7280a7;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--Redhat);
    position: absolute;
    top: 80px;
}

.cancelar:hover {
    cursor: pointer;
}

/*------------Mobile--------------*/

@media screen and (max-width:500px) {

    body {
        background-color: var(--Paleblue);
        background-image: url(images/pattern-background-desktop.svg);
        background-repeat: repeat; 
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-250px, -320px);
    }

    .afastar{
        margin-bottom: 20px;
    }

    .main {
        width: 350px;
        height: 580px;
    }

    .main > .img-main {
        width: 350px;
    }

    .main > .text {
        font-size: 16px
    }

    .plano {
        margin-left: 20px;
    }

    .plano > a {
        margin-left: 240px;
    }

    .btn-area {
        margin-top: 6%;
    }

    .btn-area > .cancelar {
        margin-left: 134px;
    }    

}