@charset "UTF-8"; 

@import url(https://fonts.google.com/specimen/Inter);
@import url(https://fonts.google.com/specimen/Lexend+Deca);

* {
    margin: 0%;
    padding: 0%;
}

:root {
    /* Primárias */
    --Verydarkblue: #090b1a;
    --Darkblue: #1b1938;
    --Softviolet: #aa5cdb;

    /* Neutro */ 
    --Slightlywhite: #ffffffbf;
    --Slightlytransparent: #ffffff99;

    /* Fonte-Family */ 
    --inter: 'Inter', sans-serif; 
    --lexend: 'Lexend Deca', sans-serif; 
}

body {
    display: block;
    min-height: 100vh;
    margin-top: 250px;
    background-color: #000000;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-550px, -500px)
}

/*-------------------------------------MAIN----------------------*/ 
main{ 
    /*Exemplos de colunas nessa div*/
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    box-shadow: 0.75rem 0.75rem 12.5rem 1.25rem rgba(203, 12, 152, 0.157);
    background: linear-gradient(to top,hsla(246,38%,16%,.3) 20%,rgb(70,39,98,.5) 90%);
    padding-left: 150px;
    transition: all ease 1.2s;
}

/*------------------------------Coluna 1----------------------*/
.coluna1 {
    display: flex;
    flex-direction: column;
}

.coluna1 > h1 {
    font-size: 34px;
    color: white;
    font-family: var(--inter);
    display: block;
    margin-top: 50px;
    margin-left: -80px;
    margin-right: 100px;
}

.coluna1 > h1 > span { 
    /*Usa o Span para marcar uma palavra de um texto separadamente*/
    color: #aa5cdb;

    /*Para colocar o background dentro do texto usa isso aqui -> */ 
    background-image: linear-gradient(to right,#af5ec3,#ef45b4,#fa747d,#f7a0cf,#ef45b4,#af5ec3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.coluna1 > .about {
    color: #ffffff99;
    width: 350px;
    text-align: left;
    font-size: 18px;
    margin-top: 30px;
    margin-left: -80px;
    display: block;
    font-family: var(--inter);
    line-height: 30px;
}

/*---------------------------HIGHLIGHTS------------------------*/
.quantidade {
    margin-top: 50px;
    margin-left: -80px;
    display: flex;
    gap: 2.0rem;
    padding-bottom: 40px;
}

.detalhes {
    width: max-content;
    font-size: 28px;
    font-family: var(--inter);
    font-weight: 600;
    display: inline;
    padding-right: 80px;
    color: #ee3fb1;
}

.about-detalhes {
    color: var(--Slightlywhite);
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 600;
}

/*---------------------Coluna2--------------------------------*/
.coluna2 {
    display: flex;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.image-desktop {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    height: 100%;
    max-width: 100%;
    mix-blend-mode: multiply;
    opacity: 0.8;
    
}

picture {
    display: block;
    max-width: 100%;
    max-height: 100%;
    background: linear-gradient(177deg,#ff61f3 0,#b86ffb 100%);
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
}

/*----------------------------MOBILE----------------------------*/
@media screen and (max-width:1145px) {
    body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-500px, -500px);
    }

    main {
        width: 800px;
    }

    .detalhes {
        font-size: 24px;
    }

    .coluna1 > h1 {
        font-size: 28px;
    }

    .coluna1 > .about {
        font-size:16px ;
    }

    .quantidade {
        margin-top: 40px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:1000px) {
    body {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-500px, -440px)
        }

    .detalhes {
        font-size: 20px;
    }

    .coluna1 > h1 {
        font-size: 26px;
    }

    .coluna1 > .about {
        font-size:16px ;
        margin-top: 10px;
    }

    .quantidade {
        margin-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:930px) {
    body {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-450px, -460px)
        }

    main {
        width: 720px;
        }

    .detalhes {
        font-size: 14px;
       
    }

    .coluna1 > h1 {
        font-size: 26px;
        margin-left: -110px;
    }

    .coluna1 > .about {
        font-size:16px ;
        margin-left: -110px;
        margin-top: 10px;
    }

    .quantidade {
        margin-left: -110px;
        margin-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:896px) {
    body {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-450px, -550px)
        }

    main {
        width: 680px;
        }

    .detalhes {
        font-size: 14px;
       
    }

    .coluna1 > h1 {
        font-size: 26px;
        margin-left: -110px;
    }

    .coluna1 > .about {
        font-size:16px ;
        margin-left: -110px;
        margin-top: 10px;
    }

    .quantidade {
        margin-left: -110px;
        margin-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:867px) {
    body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-400px, -450px)
    }

    main {
    margin: 0%;
    width: 70%;
    height: 850px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0%;
    }

    .coluna1 {
    position: relative;
    top: 400px;
    left: 200px;
    text-align: center;
    }

    .coluna2 {
    position: relative;
    top: -424px;
    height: 400px;
    width: 100%;        
    }

   picture{
    width: 100%;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   }

   picture > .image-desktop {
    width: 100%;
    background-size: cover;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   }

   .coluna1 > h1 {
    font-size: 38px;
    max-width: 400px;
    
   }

   .coluna1 > .about {
    text-align: center;
    width: 400px;
    padding-top: 20px;
    font-size: 22px;
    line-height: 30px; 
    
   }

   .coluna1 > .quantidade {
    gap: 2.0rem;
    width: max-content;
    margin-left: -110px;
    position: relative;
    top: 15px;
   }

   div > .detalhes {
    padding: 0%;
    width: max-content;
    font-size: 30px;
    margin-left: -2px;

   }

   div > .about-detalhes {
    font-size: 18px;
   }

@media screen and (max-width:825px) {
    body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-400px, -450px)
    }

    main {
    margin: 0%;
    width: 66%;
    height: 850px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0%;
    }

    .coluna1 {
    position: relative;
    top: 400px;
    left: 180px;
    text-align: center;
    }

    .coluna2 {
    position: relative;
    top: -424px;
    height: 400px;
    width: 100%;        
    }

   picture{
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   }

   picture > .image-desktop {
    background-size: cover;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   }

   .coluna1 > h1 {
    font-size: 38px;
    max-width: 400px;
    
   }

   .coluna1 > .about {
    text-align: center;
    width: 400px;
    padding-top: 20px;
    font-size: 20px;
    line-height: 30px; 
    
   }

   .coluna1 > .quantidade {
    gap: 2.0rem;
    width: max-content;
    margin-left: -90px;
    position: relative;
    top: 30px;
   }

   div > .detalhes {
    padding: 0%;
    width: max-content;
    font-size: 30px;
   }

   div > .about-detalhes {
    display: flex;
    font-size: 16px;
   }

   @media screen and (max-width:520px) {
    main {
    padding-top: 120px;
    width: 400px;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
   
    }

    .coluna1 {
    position: relative;
    top: 230px;
    left: 110px;
    text-align: center;
    }

    .coluna2 {
    position: relative;
    top: -470px;
    height: 400px;
    width: 400px;        
    }

   picture{
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   }

   picture > .image-desktop {
    background-size: cover;
    border-bottom-right-radius: 0px;
   }

   .coluna1 > h1 {
    font-size: 36px;
    max-width: 400px;
    
   }

   .coluna1 > .about {
    text-align: center;
    width: 350px;
    padding-top: 20px;
    margin-left: -85px ;
    position: relative;
    top: 15px;
    font-size: 18px;
    line-height: 30px; 
   }

   .coluna1 > .quantidade {
    position: relative;
    top: 40px;
    padding: 0%;
    width: max-content;
    margin-left: -75px;
   }

   div > .detalhes {
    width: max-content;
    font-size: 28px;
   }

   div > .about-detalhes {
    display: flex;
    font-size: 12px;
   }